<span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:uryyb@ebfgbpx-nubv.qr\" gnetrg=\"_oynax\">Xbagnxg</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">ed.ioha-kcotsor@olleh</span></noscript>
</span>
