<header class="page-header">
	<h1 class="logo"><span style="display: none;">Rostock Ahoi</span><a href="/"><img alt="Logo von Rostock Ahoi" width="305" height="77" src="/assets/img/logo.svg"></a></h1>
	<nav>
		<ul class="nav">
			<li><a href="/"><span data-hover="Startseite">Startseite</span></a></li><!--
		--><li><a class="active" href="/projekte"><span data-hover="Projekte">Projekte</span></a></li><!--
		--><li><a href="#!" onclick="contact()"><span data-hover="Kontakt">Kontakt</span></a></li>
		</ul>
	</nav>
</header>
