{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "require": true
    },
    "rules": {
        "no-console": [
            "warn"
        ]
    }
}
