{% extends "_layouts/_master.twig" %}

{% block content %}

<main class="intro" id="intro">

    <h2 class="intro__heading" id="typewriter">Moin, ich bin Johannes – Entwickler.</h2>
    <div class="intro__body">
          <p>
            Ich bin freiberuflicher Webentwickler aus <strong>Rostock</strong>.
        </p>
        <p>
            Sie brauchen eine <strong>professionelle Webseite</strong> oder <strong>Web-App</strong>? Sehr gut, Sie können Ihre Suche beenden. Zusammen finden wir die <strong>optimale Lösung</strong> für Ihr Unternehmen.
        </p>
        <p>
            Werfen Sie einen Blick auf <strong>meine Projekte</strong> oder rufen Sie <strong>mich</strong> an! Fragen kostet schließlich nichts.
        </p>
        <br>
        <a href="/projekte" class="button">Projektübersicht</a>
        <ul class="intro__social">
            <li>
                <a title="rostockahoi@github.com" href="https://github.com/rostockahoi"><img width="20" height="20" src="/assets/img/icons/github.svg" alt="Icon von Github"></a>
            </li>
            <li>
                <a title="Johannes Ahrndt@linkedin.de" href="https://www.linkedin.com/in/johannes-ahrndt-029109117/"><img width="20" height="20" src="/assets/img/icons/linkedin.svg" alt="Icon von Linkedin"></a>
            </li>
            <li>
                <a title="Johannes Ahrndt@xing.de" href="https://www.xing.com/profile/Johannes_Ahrndt"><img width="20" height="20" src="/assets/img/icons/xing.svg" alt="Icon von Xing"></a>
            </li>
            <li>
                <a title="Rostock-Ahoi@facebook.de" href="https://www.facebook.com/rostockahoiweb"><img width="20" height="20" src="/assets/img/icons/facebook.svg" alt="Icon von Facebook"></a>
            </li>
            <li>
                <a title="joah@vimeo.com" href="https://vimeo.com/user10554898"><img width="20" height="20" src="/assets/img/icons/vimeo.svg" alt="Icon von Vimeo"></a>
            </li>
            <li>
                <a title="@rostockahoi" href="https://twitter.com/rostockahoi"><img width="20" height="20" src="/assets/img/icons/twitter.svg" alt="Icon von Twitter"></a>
            </li>
        </ul>
    </div>
</main>

{% endblock %}
