<title>Rostock Ahoi</title>
<meta name="description" content="Als freiberuflicher Webentwickler bin ich der richtige Ansprechpartner, wenn es um professionelle Webseiten oder Web-Apps geht.">
<meta name="robots" content="index, follow">
<meta name="author" content="Johannes Ahrndt">
